{% extends "base.html" %}

{% set login_action = request.full_path if '/auth/register' not in request.path else url_for('auth.login') %}
{% set reg_action = request.full_path if '/auth/login' not in request.path else url_for('auth.register') %}

{% block page_content %}
<h4>Sign in</h4>
<form action="{{ login_action }}" method="post" class="form" role="form">
    {{ vars['login_form'].hidden_tag() }}
    <div class="form-group{% if vars['login_form'].username.errors %} has-error{% endif %}">
        {{ vars['login_form'].username.label(class_='control-label') }}
        {{ vars['login_form'].username(class_='form-control') }}
        {% for message in vars['login_form'].username.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if vars['login_form'].password.errors %} has-error{% endif %}">
        {{ vars['login_form'].password.label(class_='control-label') }}
        {{ vars['login_form'].password(class_='form-control') }}
        {% for message in vars['login_form'].username.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="checkbox">
        <label>
            {{ vars['login_form'].remember_me }}
            Keep me logged in
        </label>
    </div>
    {{ vars['login_form'].submit(class_='btn btn-default') }}
    <p><br />
        <a href="{{ url_for('auth.password') }}">Forgot your password?</a>
    </p>
</form>
{% endblock page_content %}

{% block sidebar_right %}
<h4>Create a new account</h4>
<form action="{{ reg_action }}" method="post" class="form" role="form">
    {{ vars['reg_form'].hidden_tag() }}
    <div class="form-group{% if vars['reg_form'].username.errors %} has-error{% endif %}">
        {{ vars['reg_form'].username.label(class_='control-label') }}
        {{ vars['reg_form'].username(class_='form-control') }}
        {% for message in vars['reg_form'].username.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if vars['reg_form'].email.errors %} has-error{% endif %}">
        {{ vars['reg_form'].email.label(class_='control-label') }}
        {{ vars['reg_form'].email(class_='form-control') }}
        {% for message in vars['reg_form'].email.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if vars['reg_form'].confirm_email.errors %} has-error{% endif %}">
        {{ vars['reg_form'].confirm_email.label(class_='control-label') }}
        {{ vars['reg_form'].confirm_email(class_='form-control') }}
        {% for message in vars['reg_form'].confirm_email.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if vars['reg_form'].password.errors %} has-error{% endif %}">
        {{ vars['reg_form'].password.label(class_='control-label') }}
        {{ vars['reg_form'].password(class_='form-control') }}
        {% for message in vars['reg_form'].password.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if vars['reg_form'].token.errors %} has-error{% endif %}">
        {{ vars['reg_form'].token.label(class_='control-label') }}
        {{ vars['reg_form'].token(class_='form-control') }}
        {% for message in vars['reg_form'].token.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    {{ vars['reg_form'].submit(class_='btn btn-default') }}
</form>
{% endblock sidebar_right %}
