{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block page_content %}
<p>Enter and confirm your new password.</p>
<div id="new-password-form-container" class="col-md-6">
    {{ wtf.quick_form(vars['form']) }}
</div>
{% endblock %}
