{% extends 'base.html' %}

{% block page_content %}
<p>You may use the form below to reset your password.</p>
<div id="password-form-container" class="col-md-6">
    <form action="{{ url_for('auth.password') }}" method="post" class="form" role="form">
        {{ vars['form'].hidden_tag() }}
        <div class="form-group{% if vars['form'].email.errors %} has-error{% endif %}">
            {{ vars['form'].email.label(class_='control-label') }}
            {{ vars['form'].email(class_='form-control') }}
            {% for message in vars['form'].email.errors %}
            <p class="help-block">{{ message }}</p>
            {% endfor %}
        </div>
        <a class="btn btn-default" href="{{ url_for('auth.login') }}">
            Cancel
        </a>
        {{ vars['form'].submit(class_='btn btn-default') }}
    </form>
</div>
{% endblock %}
