{% extends "base.html" %}

{% block page_content %}
<p>You have not confirmed your account. Please check your inbox (and your spam folder); you should have received a confirmation link.</p>
<p>Didn't get the email? <a href="{{ url_for('auth.resend_confirmation') }}">Click here to resend it.</a></p>
{% endblock %}
