[Unit]
Description=JADE Platform Backup 2.
After=jadeplatform-backup.service

[Service]
Type=simple
Restart=always
RestartSec=10s
User=<%= @mac_user %>
WorkingDirectory=/home/<%= @mac_user %>/backup-2

ExecStartPre=/bin/bash -c 'echo "1103" >> /var/jadeplatform/ports'

ExecStart=/bin/bash -c\
'java\
-cp /home/<%= @mac_user %>/jar/platform-main.jar\
jade.Boot -name <%= @script_name %>\
-backupmain -host $(ip addr show eth0 | grep -Po "inet \\K[\\d.]+")\
-port $(tail -2 /var/jadeplatform/ports | head -1)\
-local-host $(ip addr show eth0 | grep -Po "inet \\K[\\d.]+") -local-port 1103\
-services\
"jade.core.replication.MainReplicationService;\
jade.core.replication.AddressNotificationService\
<%= @script_services %>"\
-jade_domain_df_db-default true\
-mtps jade.mtp.http.MessageTransportProtocol\\("http://"$(hostname)".ec2.internal:9882/acc"\\)'

ExecStartPost=/bin/sleep 15

ExecStop=/bin/bash -c 'sed -i \'/1103/d\' /var/jadeplatform/ports'

[Install]
WantedBy=multi-user.target