[Unit]
Description=JADE Platform Main.
Wants=network-online.target
After=jadeplatform-clear.service

[Service]
Type=simple
Restart=always
RestartSec=10s
User=<%= @mac_user %>
WorkingDirectory=/home/<%= @mac_user %>/main

ExecStartPre=/bin/bash -c 'echo "1101" >> /var/jadeplatform/ports'
ExecStartPre=/usr/bin/sudo /bin/bash -c\
'if [ "$(head -1 /var/jadeplatform/ports)" = "1101" ];\
then /bin/systemctl set-environment\
JADEMAIN_CONNECT_STRING="-local-host\
$(ip addr show eth0 | grep -Po "inet \\K[\\d.]+") -local-port 1101";\
else /bin/systemctl set-environment JADEMAIN_CONNECT_STRING="-backupmain\
-host $(ip addr show eth0 | grep -Po "inet \\K[\\d.]+")\
-port $(tail -2 /var/jadeplatform/ports | head -1) -local-port 1101"; fi;'

ExecStart=/bin/bash -c\
'java\
-cp /home/<%= @mac_user %>/jar/platform-main.jar\
jade.Boot -name <%= @script_name %>\
${JADEMAIN_CONNECT_STRING}\
-services\
"jade.core.replication.MainReplicationService;\
jade.core.replication.AddressNotificationService\
<%= @script_services %>"\
-jade_domain_df_db-default true\
-mtps jade.mtp.http.MessageTransportProtocol\\("http://"$(hostname)".ec2.internal:9880/acc"\\)'

ExecStartPost=/bin/sleep 15

ExecStop=/bin/bash -c 'sed -i \'/1101/d\' /var/jadeplatform/ports'

[Install]
WantedBy=multi-user.target