[Unit]
Description=JADE Platform Services Container.
After=jadeplatform-backup-2.service

[Service]
Type=simple
Restart=always
RestartSec=10s
User=<%= @mac_user %>

ExecStart=/bin/bash -c\
'java\
-cp /home/<%= @mac_user %>/jar/platform-main.jar\
jade.Boot -container\
-host $(ip addr show eth0 | grep -Po "inet \\K[\\d.]+")\
-port $(head -1 /var/jadeplatform/ports)\
-local-host $(ip addr show eth0 | grep -Po "inet \\K[\\d.]+")\
-local-port 1104\
-services\
"jade.core.replication.AddressNotificationService\
<%= @script_services %>"\
-agents <%= @script_agents %>'

[Install]
WantedBy=multi-user.target