{% extends "base.html" %}


{% block page_content %}
{{ super() }}
<form method="post" class="form" role="form">
    {{ vars['form'].hidden_tag() }}
    <div class="checkbox">
        <label>
            {{ vars['form'].confirmed }}
            {{ vars['form'].confirmed.label.text }}
        </label>
    </div>
        
        <a role="button" class="btn btn-default"
                href="{{ vars['cancel_path'] }}">
                Cancel
        </a>
    {{ vars['form'].submit(class_='btn btn-default') }}
</form>
{% endblock page_content %}