{% extends "base.html" %}


{% block page_content %}
{{ super() }}
<p>Your generated API key is:</p>
<p>{{ vars['key'] }}</p>
<p>Please make note of this key before clicking save. It will not be shown to
    you again.</p>
<form method="post" class="form" role="form">
    {{ vars['form'].hidden_tag() }}
    <div class="form-group{% if vars['form'].name.errors %} has-error{% endif %}">
        {{ vars['form'].name.label(class_='control-label') }}
        {{ vars['form'].name(class_='form-control', maxlength=32) }}
        {% for message in vars['form'].name.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <a role="button" class="btn btn-default"
        href="{{ url_for('project.view', pid=vars['pid'])}}">
        Cancel
    </a>
    {{ vars['form'].submit(class_='btn btn-default') }}
</form>
{% endblock page_content %}

{% block styles%}
{{ super() }}
{% endblock %}

{% block scripts%}
{{ super() }}
{% endblock %}