{% extends "base.html" %}

{% block page_content %}
{{ super() }}

<div id="new-project-form-container">
	<form method="post" class="form" role="form">
		{{ vars['form'].hidden_tag() }}
		
		<div class="form-group{% if vars['form'].name.errors %} has-error{% endif %}">
			{{ vars['form'].name.label(class_='control-label') }}
            {{ vars['form'].name(class_='form-control') }}
            {% for message in vars['form'].name.errors %}
            <p class="help-block">{{ message }}</p>
            {% endfor %}
		</div>
		
		<a role="button" class="btn btn-default"
			href="{{ url_for('project.index')}}">
			Cancel
		</a>
		{{ vars['form'].submit(class_='btn btn-default') }}
	</form>
</div>
{% endblock %}