{% extends "base.html" %}

{% block body_class %}{{ super() }}{% endblock %}

{% block page_actions %}
{{ super() }}
<a role="button" class="btn btn-default"
	href="{{ url_for('project.add')}}">
	Create Project
</a>
{% endblock %}

{% block page_content %}
{{ super() }}

<div id="projects-container">
	<table id="projects-table" class="table table-compact table-striped">
    	<thead>
    	    <tr>
    	        <th>Name</th>
    	        <th>Actions</th>
    	    </tr>
    	</thead>
    	<tbody>
            {% for project in vars['projects']: %}
    	    <tr>
    	        <td class="project-name">{{ project.name }}</td>
    	        <td class="project-actions">
    	            <a href="{{ url_for('project.view', pid=project.id) }}">View</a>
                    <a href="{{ url_for('project.edit', pid=project.id) }}">Edit</a>
    	        </td>
    	    </tr>
            {% endfor %}
    	</tbody>
	</table>
</div>
{% endblock %}

{% block styles%}
{{ super() }}
{% endblock %}

{% block scripts%}
{{ super() }}
{% endblock %}