{% extends "base.html" %}

{% block page_actions %}
{{ super() }}
{% endblock %}

{% block page_content %}
{{ super() }}
<div class="panel panel-default">
    <div class="panel-heading">Main Container</div>
    <div class="panel-body">
        <textarea class="form-control" rows="20">{{ vars['main_log'] }}</textarea>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Backup to Main Container</div>
    <div class="panel-body">
        <textarea class="form-control" rows="20">{{ vars['backup_log'] }}</textarea>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Second Backup to Main Container</div>
    <div class="panel-body">
        <textarea class="form-control" rows="20">{{ vars['backup2_log'] }}</textarea>
    </div>
</div>


<div class="panel panel-default">
    <div class="panel-heading">Service Container</div>
    <div class="panel-body">
        <textarea class="form-control" rows="20">{{ vars['container_log'] }}</textarea>
    </div>
</div>
{% endblock %}