{% extends "base.html" %}

{% block page_content %}
{{ super() }}
<form class="form col-md-6" role="form" method="post">
    {{ vars['form'].hidden_tag() }}
        
    <div class="form-group{% if vars['form'].username.errors %} has-error{% endif %}">
        {{ vars['form'].username.label(class_='control-label') }}
        {{ vars['form'].username(class_='form-control') }}
        {% for message in vars['form'].username.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
        
    <div class="form-group{% if vars['form'].password.errors %} has-error{% endif %}">
        {{ vars['form'].password.label(class_='control-label') }}
        {{ vars['form'].password(class_='form-control') }}
        {% for message in vars['form'].password.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
        
    <div class="form-group{% if vars['form'].confirm_password.errors %} has-error{% endif %}">
        {{ vars['form'].confirm_password.label(class_='control-label') }}
        {{ vars['form'].confirm_password(class_='form-control') }}
        {% for message in vars['form'].confirm_password.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>

    {{ vars['form'].submit(class_='btn btn-default') }}
</form>
{% endblock %}