{% extends "base.html" %}

{% block page_actions %}
{{ super() }}

{% if not vars['platform']: %}
<a role="button" class="btn btn-default"
    href="{{ url_for('project.add_platform', pid=vars['pid']) }}">
    Add Platform
</a>
{% endif %}

{% if not vars['proxy']: %}
<a role="button" class="btn btn-default"
    href="{{ url_for('project.add_platform_proxy', pid=vars['pid']) }}">
    Add Proxy
</a>
{% endif %}

<!--<a role="button" class="btn btn-default"
    href="{{ url_for('project.add_api_key', pid=vars['pid']) }}">
    Add API Key
</a>-->

<a role="button" class="btn btn-default"
	href="{{ url_for('project.edit', pid=vars['pid']) }}">
	Edit
</a>


<a role="button" class="btn btn-danger"
    href="{{ url_for('project.delete', pid=vars['pid']) }}">
    Delete
</a>

{% endblock %}

{% block page_content %}
{{ super() }}

{% if vars['platform']: %}
<div class="platform panel panel-default" id="platform-{{ pid }}">
	<div class="panel-heading">
        Platform Info
        {% if vars['jade_up'] == 'Up': %}
        <div class="dropdown platform-options-dropdown pull-right">
            <a class="dropdown-toggle" role="button"
                    id="platform-options-dropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="platform-options-dropdown">
                <li>
                    <a href="{{ url_for('project.platform_logs', pid=vars['pid']) }}">
                        View logs
                    </a>
                </li>
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ url_for('project.delete_platform', pid=vars['pid']) }}">Delete</a>
                </li>
            </ul>
        </div>
        {% endif %}
    </div>
	<div class="panel-body">
		<span>IP Address: {{ vars['instance'].public_ip_address }}</span><br>
		<span>VPS State: {{ vars['instance'].state['Name'] }}</span><br>
        <span>JADE Platform: {{ vars['jade_up'] }}</span>
	</div>
</div>
{% endif %}



{% if vars['proxy']: %}
<div class="panel panel-default">
    <div class="panel-heading">
        Proxy Info
        <div class="dropdown proxy-options-dropdown pull-right">
            <a class="dropdown-toggle" role="button"
                    id="proxy-options-dropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-cog"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="proxy-options-dropdown">
                <li role="separator" class="divider"></li>
                <li>
                    <a href="{{ url_for('project.delete_platform_proxy', pid=vars['pid']) }}">Delete</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel-body">
        <span>IP Address: {{ vars['proxy_instance'].public_ip_address }}</span><br>
        <span>Proxy State: {{ vars['proxy_instance'].state['Name'] }}</span><br>
    </div>
</div>
{% endif %}

{% if vars['api_keys']: %}
<div class="platform panel panel-default" id="platform-{{ pid }}-keys">
    <div class="panel-heading">API Keys</div>
    <div class="panel-body">
        <table class="table table-compact table-striped">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Key</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for key in vars['api_keys'] %}
                <tr>
                    <td>{{ key.name }}</td>
                    <td>{{ ''.join([key.key[:10], '...']) }}</td>
                    <td>
                        <a role="button" class="btn btn-danger"
                            href="{{ url_for('project.delete_api_key', pid=vars['pid'], kid=key.id) }}">
                            Delete
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endif %}
{% endblock %}

{% block sidebar_right %}
<div class="panel panel-default">
	<div class="panel-heading">Agents</div>
	<div class="panel-body">
		{% for agent in vars['agents']['agents']: %}
		<span class="platform-agent">{{ agent['Name'] }}</span>
		{% endfor %}
	</div>
</div>
{% endblock %}