job ('phasemetrics-paas') {
  description('Build PhaseMetrics PaaS on push to Bitbucket. Deploy if tests pass.')
  displayName('PhaseMetrics PaaS')
  scm {
    git {
      branch('master')
      remote {
        credentials('<%= @credential_id %>')
        name('origin')
        url('git@bitbucket.org:phasemetrics/phasemetrics-paas.git')
      }
    }
  }
  triggers {
    bitbucketPush()
  }
  steps {
    shell('chmod +x cibuild/runtests.sh')
    shell('chmod +x cibuild/deploy.sh')
    shell('./cibuild/runtests.sh')
    shell('./cibuild/deploy.sh')
  }
}