<!-- 1. phasemetrics-paas -->
<project>
    <actions></actions>
    <description>Build PhaseMetrics PaaS on push to Bitbucket. Deploy if tests pass.</description>
    <keepDependencies>false</keepDependencies>
    <properties></properties>
    <canRoam>true</canRoam>
    <disabled>false</disabled>
    <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
    <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
    <triggers class='vector'>
        <com.cloudbees.jenkins.plugins.BitBucketTrigger>
            <spec></spec>
        </com.cloudbees.jenkins.plugins.BitBucketTrigger>
    </triggers>
    <concurrentBuild>false</concurrentBuild>
    <builders>
        <hudson.tasks.Shell>
            <command>chmod +x cibuild/runtests.sh</command>
        </hudson.tasks.Shell>
        <hudson.tasks.Shell>
            <command>chmod +x cibuild/deploy.sh</command>
        </hudson.tasks.Shell>
        <hudson.tasks.Shell>
            <command>./cibuild/runtests.sh</command>
        </hudson.tasks.Shell>
        <hudson.tasks.Shell>
            <command>./cibuild/deploy.sh</command>
        </hudson.tasks.Shell>
    </builders>
    <publishers></publishers>
    <buildWrappers></buildWrappers>
    <displayName>PhaseMetrics PaaS</displayName>
    <scm class='hudson.plugins.git.GitSCM'>
        <userRemoteConfigs>
            <hudson.plugins.git.UserRemoteConfig>
                <name>origin</name>
                <url>git@bitbucket.org:phasemetrics/phasemetrics-paas.git</url>
                <credentialsId><%= @credential_id %></credentialsId>
            </hudson.plugins.git.UserRemoteConfig>
        </userRemoteConfigs>
        <branches>
            <hudson.plugins.git.BranchSpec>
                <name>master</name>
            </hudson.plugins.git.BranchSpec>
        </branches>
        <configVersion>2</configVersion>
        <disableSubmodules>false</disableSubmodules>
        <recursiveSubmodules>false</recursiveSubmodules>
        <doGenerateSubmoduleConfigurations>false</doGenerateSubmoduleConfigurations>
        <authorOrCommitter>false</authorOrCommitter>
        <clean>false</clean>
        <wipeOutWorkspace>false</wipeOutWorkspace>
        <pruneBranches>false</pruneBranches>
        <remotePoll>false</remotePoll>
        <ignoreNotifyCommit>false</ignoreNotifyCommit>
        <gitTool>Default</gitTool>
        <skipTag>true</skipTag>
    </scm>
</project>