[Unit]
Description=JADE Platform Services Container.
After=jadeplatform-backup-2.service

[Service]
Type=simple
Restart=always
RestartSec=10s
User=<%= @mac_user %>
WorkingDirectory=/home/<%= @mac_user %>/container

ExecStartPre=/usr/bin/sudo /bin/bash -c '/bin/systemctl set-environment PRIVATE_IP=$PRIVATE_IP'
ExecStartPre=/usr/bin/sudo /bin/bash -c '/bin/systemctl set-environment PUBLIC_IP=$PUBLIC_IP'

ExecStart=/bin/bash -c\
'java\
-cp /home/<%= @mac_user %>/jar/platform-main.jar\
jade.Boot -container\
-jade_imtp_leap_JICP_JICPServer_unchecklocalhost true\
-host ${PUBLIC_IP}\
-port $(head -1 /var/jadeplatform/ports)\
-local-host ${PUBLIC_IP}\
-local-port 1104\
-services\
"jade.core.replication.AddressNotificationService;\
jade.imtp.leap.nio.BEManagementService;\
jade.mtp.MTPManagementService\
<%= @script_services %>"\
-agents <%= @script_agents %>'

[Install]
WantedBy=multi-user.target