[Unit]
Description=JADE Platform Backup 2.
After=jadeplatform-backup.service

[Service]
Type=simple
Restart=always
RestartSec=10s
User=<%= @mac_user %>
WorkingDirectory=/home/<%= @mac_user %>/backup-2

ExecStartPre=/bin/bash -c 'echo "1103" >> /var/jadeplatform/ports'
ExecStartPre=/usr/bin/sudo /bin/bash -c '/bin/systemctl set-environment PRIVATE_IP=$PRIVATE_IP'
ExecStartPre=/usr/bin/sudo /bin/bash -c '/bin/systemctl set-environment PUBLIC_IP=$PUBLIC_IP'

ExecStart=/bin/bash -c\
'java\
-cp /home/<%= @mac_user %>/jar/platform-main.jar\
jade.Boot -name <%= @script_name %>\
-jade_imtp_leap_JICP_JICPServer_unchecklocalhost true\
-backupmain -host ${PUBLIC_IP}\
-port $(tail -2 /var/jadeplatform/ports | head -1)\
-local-host ${PUBLIC_IP} -local-port 1103\
-services\
"jade.core.replication.MainReplicationService;\
jade.core.replication.AddressNotificationService;\
jade.mtp.MTPManagementService\
<%= @script_services %>"\
-jade_domain_df_db-default true\
-mtps jade.mtp.http.MessageTransportProtocol\\(http://${PRIVATE_IP}:9882/acc\\)\
-jade_mtp_http_gatewayHost "${PRIVATE_IP}:${PUBLIC_IP}"\
-jade_mtp_http_gatewayPort "9880:9880;9881:9881;9882:9882"'

ExecStartPost=/bin/sleep 15

ExecStop=/bin/bash -c 'sed -i \'/1103/d\' /var/jadeplatform/ports'

[Install]
WantedBy=multi-user.target