{% extends "base.html" %}

{% block page_content %}
{{ super() }}
<p class="col-md-6">Do you need more information? Do you want to discuss a cool idea you have?
    Or, do you just want to say hi? Whatever the case may be, you can use the
    form below to get in touch with the PhaseMetrics team.</p>
<form class="form col-md-6" role="form" method="post">
    {{ vars['form'].hidden_tag() }}
        
    <div class="form-group{% if vars['form'].name.errors %} has-error{% endif %}">
        {{ vars['form'].name.label(class_='control-label') }}
        {{ vars['form'].name(class_='form-control') }}
        {% for message in vars['form'].name.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
        
    <div class="form-group{% if vars['form'].email.errors %} has-error{% endif %}">
        {{ vars['form'].email.label(class_='control-label') }}
        {{ vars['form'].email(class_='form-control') }}
        {% for message in vars['form'].email.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
        
    <div class="form-group{% if vars['form'].msg.errors %} has-error{% endif %}">
        {{ vars['form'].msg.label(class_='control-label') }}
        {{ vars['form'].msg(class_='form-control', rows=5) }}
        {% for message in vars['form'].msg.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    
    <div class="form-group{% if vars['form'].cc.errors %} has-error{% endif %}">
        {{ vars['form'].cc }}
        {{ vars['form'].cc.label(class_='control-label') }}
        {% for message in vars['form'].cc.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    {{ vars['form'].submit(class_='btn btn-default') }}
</form>
{% endblock %}

{% block styles%}
{{ super() }}
{% endblock %}

{% block scripts%}
{{ super() }}
{% endblock %}