{% extends "base.html" %}

{% block jumbotron %}
{{ super() }}
{% endblock %}


{% block sidebar_left %}
<div class="panel panel-default">
    <div class="panel-heading">Documentation</div>
    <div class="panel-body">
        <ul>
            <li><a href="{{ url_for('main.developer_docs') }}">Introduction</a></li>
            <li><a href="#">Agent Systems</a></li>
            <li><a href="#">Deployment with PhaseMetrics</a></li>
        </ul>
    </div>
</div>
{% endblock sidebar_left %}

{% block page_content %}
{{ super() }}
<p>Our products allow developers to quickly deploy the infrastructure required
    to develop distributed agent-based intelligent systems.</p>
{% endblock %}

{% block styles%}
{{ super() }}
{% endblock %}

{% block scripts%}
{{ super() }}
{% endblock %}