{% extends "base.html" %}

{% block jumbotron %}
{{ super() }}
<div class="jumbo-inner">
    <div class="container">
        <h1>Collective Intelligence</h1>
        <p>A suite of tools for deploying and managing multiagent-based distributed systems.</p>
        <a class="btn btn-default btn-lg calltoaction" href="{{ url_for('auth.register')
                                                if not current_user.is_authenticated()
                                                else url_for('project.index') }}">Get Started</a>
    </div>
</div>
{% endblock %}

{% block page_content %}
{{ super() }}
<div id="pm-feature-container">
    <div class="pm-feature col-md-4">
        <div class="image tolerance"><div class="icon"></div></div>
        <h3>Fault Tolerance</h3>
        <p>Your core infrastructure is fully replicated for maximal uptime.</p>
    </div>
    <div class="pm-feature col-md-4">
        <div class="image connectivity"><div class="icon"></div></div>
        <h3>Connectivity</h3>
        <p>Internet connected and ready to deploy distributed systems large
            and small.</p>
    </div>
    <div class="pm-feature col-md-4">
        <div class="image privacy"><div class="icon"></div></div>
        <h3>Privacy</h3>
        <p>Dedicated platform resources that are only accessible to your applications.</p>
    </div>
</div>
{% endblock %}

{% block styles%}
{{ super() }}
{% endblock %}

{% block scripts%}
{{ super() }}
{% endblock %}