{% extends "base.html" %}

{% block jumbotron %}
{{ super() }}
<div class="jumbo-inner">
    <div class="container">
        <h1></h1>
    </div>
</div>
{% endblock %}

{% block page_content %}
{{ super() }}
<p>One Android application to rule them all.</p>
{% endblock %}

{% block styles%}
{{ super() }}
{% endblock %}

{% block scripts%}
{{ super() }}
{% endblock %}