{% extends "base.html" %}

{% block jumbotron %}
{{ super() }}
<div class="jumbo-inner">
    <div class="container">
        <h1></h1>
    </div>
</div>
{% endblock %}

{% block page_content %}
{{ super() }}
<p>Our Hosted Intelligence platform is the go-to solution for deploying distributed
    agent-based intelligent systems.</p>
{% endblock %}

{% block styles%}
{{ super() }}
{% endblock %}

{% block scripts%}
{{ super() }}
{% endblock %}