{% extends 'bootstrap/base.html' %}

{% block content %}
<p>Dear {{ vars['user'].username }},</p>
<p>You must confirm your new email address by <a href="{{ vars['confirm_url'] }}">clicking this link</a>.</p>
<p>If the link above did not work, you can copy and paste the following URL into you browser:</p>
<p>{{ vars['confirm_url'] }}</p>
{% endblock %}
