{% extends 'bootstrap/base.html' %}

{% block content %}
<p>Dear {{ vars['user'].username }},</p>
<p>Welcome! To gain access to all features, you must first verify your account by <a href="{{ vars['confirm_url'] }}">clicking this link</a>.</p>
<p>If the link above did not work, you can copy and paste the following URL into you browser:</p>
<p>{{ vars['confirm_url'] }}</p>
{% endblock %}
