{% extends 'bootstrap/base.html' %}

{% block content %}
<p>Dear {{ vars['name'] }},</p>
<p>You have been contacted by {{ vars['from'] }} via  {{ vars['site_name'] }}.</p>
<p>Message:</p>
<p>{{ vars['msg'] }}</p>
{% endblock %}