{% extends 'bootstrap/base.html' %}

{% block content %}
<p>Dear {{ vars['name'] }},</p>
<p>You have been invited to create an account at {{ vars['site_name'] }}.</p>
<p>Your invitation token is:</p>
<p>{{ vars['registration_token'] }}</p>
<p>You may accept this invitation by <a href="{{ vars['registration_url'] }}">clicking this link</a>
    and filling out the registration form.</p>
<p>If the link above did not work, you can copy and paste the following URL into you browser:</p>
<p>{{ vars['registration_url'] }}</p>
{% endblock %}