{% extends "base.html" %}

{% block page_actions %}
{{ super() }}
<a role="button" class="btn btn-danger"
    href="{{ url_for('config.delete_flag', fid=vars['flag'].id) }}">
    Delete
</a>
{% endblock %}

{% block page_content %}
{{ super() }}
<form id="edit-flag-form" method="post" class="form" role="form">
    {{ vars['form'].hidden_tag() }}
    <div class="form-group{% if vars['form'].name.errors %} has-error{% endif %}">
        {{ vars['form'].name.label(class_='control-label') }}
        {{ vars['form'].name(class_='form-control', maxlength=32) }}
        {% for message in vars['form'].name.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if vars['form'].description.errors %} has-error{% endif %}">
        {{ vars['form'].description.label(class_='control-label') }}
        {{ vars['form'].description(class_='form-control', maxlength=64) }}
        {% for message in vars['form'].description.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if vars['form'].value.errors %} has-error{% endif %}">
        {{ vars['form'].value }}
        {{ vars['form'].value.label(class_='control-label') }}
        {% for message in vars['form'].value.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    
    <a role="button" class="btn btn-default"
        href="{{ url_for('config.flags')}}">
        Cancel
    </a>
    {{ vars['form'].submit(class_='btn btn-default') }}
</form>
{% endblock page_content %}

{% block styles%}
{{ super() }}
{% endblock styles %}

{% block scripts%}
{{ super() }}
{% endblock scripts %}