{% extends "base.html" %}

{% block page_content %}
{{ super() }}
<div class="panel panel-default">
    <div class="panel-heading">System</div>
    <div class="panel-body">
        <dl>
            <dt><a href="{{ url_for('config.flags') }}">Flags</a></dt>
            <dd>Configure system flags.</dd>
        </dl>
    </div>
</div>
{% endblock page_content %}

{% block sidebar_right %}
<div class="panel panel-default">
    <div class="panel-heading">People</div>
    <div class="panel-body">
        <dl>
            <dt><a href="{{ url_for('config.users') }}">Users</a></dt>
            <dd>Manage users.</dd>
            <dt><a href="#">Roles</a></dt>
            <dd>Manage user roles.</dd>
        </dl>
    </div>
</div>
{% endblock sidebar_right %}

{% block styles%}
{{ super() }}
{% endblock styles %}

{% block scripts%}
{{ super() }}
{% endblock scripts %}