{% extends "base.html" %}

{% block page_content %}
{{ super() }}
<p>Enter the email address of the person you wish to invite.</p>
<form id="invite-user-form" method="post" class="form" role="form">
    {{ vars['form'].hidden_tag() }}
    <div class="form-group{% if vars['form'].name.errors %} has-error{% endif %}">
        {{ vars['form'].name.label(class_='control-label') }}
        {{ vars['form'].name(class_='form-control', maxlength=32) }}
        {% for message in vars['form'].name.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    <div class="form-group{% if vars['form'].email.errors %} has-error{% endif %}">
        {{ vars['form'].email.label(class_='control-label') }}
        {{ vars['form'].email(class_='form-control', maxlength=32) }}
        {% for message in vars['form'].email.errors %}
        <p class="help-block">{{ message }}</p>
        {% endfor %}
    </div>
    
    <a role="button" class="btn btn-default"
        href="{{ url_for('config.users')}}">
        Cancel
    </a>
    {{ vars['form'].submit(class_='btn btn-default') }}
</form>
{% endblock page_content %}

{% block styles%}
{{ super() }}
{% endblock styles %}

{% block scripts%}
{{ super() }}
{% endblock scripts %}