{% extends "base.html" %}

{% block page_actions %}
{{ super() }}
<a class="btn btn-default" href="{{ url_for('config.invite_user') }}">
    Invite User
</a>
{% endblock %}

{% block page_content %}
{{ super() }}
<table class="table table-condensed">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Registered on</th>
            <th>Confirmed</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for user in vars['users'] %}
            <tr>
                <th scope="row">{{ user.id }}</th>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.registered_on }}</td>
                <td>{{ 'Yes' if user.confirmed else 'No' }}</td>
                <td>{{ 'Active' if user.active else 'Blocked' }}</td>
                <td>
                    <a href="#">edit</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock page_content %}

{% block styles%}
{{ super() }}
{% endblock styles %}

{% block scripts%}
{{ super() }}
{% endblock scripts %}