server {
    listen      80;
    server_name <%= @server_name %>;
    charset     utf-8;
    client_max_body_size 75M;

    location / { try_files $uri @<%= @location %>; }
    location @<%= @location %> {
        include	uwsgi_params;
        uwsgi_pass unix:///tmp/<%= @socket_name %>.sock;
        uwsgi_buffering off;
        uwsgi_read_timeout 300;
    }
}