[Unit]
Description=Job that runs the jadeplatform service.
Documentation=None.

[Service]
Type=simple
ExecStart=/bin/su --login <%= @mac_user %> -c 'java -cp /home/<%= @mac_user %>/jar/platform-main.jar jade.Boot <%= @script_options %>'

[Install]
WantedBy=multi-user.target