# Upstart job file for asaexone

description "Run experiment agent"
author "Sando George <georges@student.mini.pw.edu.pl>"

# Stanzas
#
# Stanzas control when and how a process is started and stopped
# See a list of stanzas here: http://upstart.ubuntu.com/wiki/Stanzas#respawn

# When to start the service
start on runlevel [2345]

# When to stop the service
stop on runlevel [!2345]

# Automatically restart process if crashed
respawn

# Run before process
pre-start script
    [[ -d /var/run/jadeplatform ]] || mkdir -p /var/run/jadeplatform
end script

# Start the process
exec su --login <%= @mac_user %> -c 'java -cp /home/<%= @mac_user %>/jar/platform-main.jar jade.Boot <%= @script_options %>'