## Configuration file which lives in a directory monitored by emperor.

[uwsgi]
base = <%= @base %>
processes = 4
threads = 2
home = %(base)/venv
pythonpath = %(base)
socket = /tmp/<%= @socket_name %>.sock
chmod-socket = 666
wsgi-file = %(base)/manage.py
callable = app
logto = /var/log/uwsgi/%n.log
plugin = python35

env=<%= @app_prefix %>_ADMIN=<%= @app_admin %>
env=<%= @app_prefix %>_ADMIN_PASSWORD=<%= @app_admin_password %>
env=<%= @app_prefix %>_CONFIG=<%= @app_config %>
env=<%= @app_prefix %>_SECRET_KEY=<%= @secret_key %>
env=<%= @app_prefix %>_DEV_DATABASE_URL=<%= @db_url %>

env=<%= @app_prefix %>_MAIL_SERVER=<%= @mail_server %>
env=<%= @app_prefix %>_MAIL_PORT=<%= @mail_port %>
env=<%= @app_prefix %>_MAIL_USE_TLS=<%= @mail_use_tls %>
env=<%= @app_prefix %>_MAIL_USE_SSL=<%= @mail_use_ssl %>
env=<%= @app_prefix %>_MAIL_USERNAME=<%= @mail_username %>
env=<%= @app_prefix %>_MAIL_PASSWORD=<%= @mail_password %>
env=<%= @app_prefix %>_MAIL_DEFAULT_SENDER=<%= @mail_default_sender %>

env=<%= @app_prefix %>_GA_TRACKING_ID=<%= @ga_tracking_id %>

env=AWS_ACCESS_KEY_ID=<%= @aws_access_key_id %>
env=AWS_SECRET_ACCESS_KEY=<%= @aws_secret_access_key %>
env=AWS_DEFAULT_REGION=<%= @aws_default_region %>