{% extends "bootstrap/base.html" %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon" />
<link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type="image/x-icon" />
{% endblock %}

{% block styles %}
{{ super() }}

{% assets "app_css" %}
<link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}" />
{% endassets %}

{% endblock %}

{% block scripts%}
{{ super() }}

{% assets "app_js" %}
<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{{ analytics }}
{% endblock %}

{% block title  %}{{ vars['title'] }}{% endblock %}

{% block body_attribs %}
class="
{%- block body_class %}
{{- 'bp-' + request.endpoint.split('.')[0] }}
{{- ' ep-' + request.endpoint.split('.')[1] }}
{%- if vars['navwell'] %} navwell{% endif %}
{%- if vars['jumbotron'] %} jtron{% endif %}
{{- vars['sidebar_class'] }}
{%- endblock %}"
{% endblock %}

{% block navbar%}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">PhaseMetrics.io<sup>alpha</sup></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <!--<li>
                    <a id="product-menu-toggle" href="#"
                        class="dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Products
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu mainnav"
                        aria-labelledby="product-menu-toggle">
                        <div class="megamenu-container">
                            <li><a href="{{ url_for('main.product_hi') }}">PhaseMetrics HI (Agent Platform)</a></li>
                            <li><a href="{{ url_for('main.product_droid') }}">PhaseMetrics Android App</a></li>
                        </div>
                    </ul>
                </li>
                <li>
                    <a id="developer-menu-toggle" href="#"
                        class="dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Developers
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu mainnav"
                        aria-labelledby="developer-menu-toggle">
                        <div class="megamenu-container">
                            <li><a href="{{ url_for('main.developer_docs') }}">Documentation</a></li>
                        </div>
                    </ul>
                </li>-->
                <li><a href="{{ url_for('main.contact') }}">Contact</a></li>
            </ul>


            {% if current_user.is_authenticated(): %}
            <div id="user-menu-dropdown" class="navbar-right dropdown">
	            <ul class="nav navbar-nav">
		            <li>
			            <a id="user-menu-toggle" href="#" class="dropdown-toggle"
			            		role="button" data-toggle="dropdown"
			            		aria-haspopup="true" aria-expanded="false">
			            	{{ current_user.username }}
			            	<span class="caret"></span>
			            </a>
			            <ul class="dropdown-menu"
			            	aria-labelledby="user-menu-toggle">
				            {% if current_user.confirmed or current_user.super_user(): %}
				            <li>
				            	<a href="{{ url_for('project.index') }}">
				            		My Projects
				            	</a>
				            </li>
				            {% endif %}
				            <li>
				            	<a href="{{ url_for('account.settings') }}">
				            		Account Settings
				            	</a>
				            </li>
				            {% if current_user.is_administrator() %}
				            <li>
				                <a href="{{ url_for('config.index') }}">
				                    Configuration
				                </a>
				            </li>
				            {% endif %}
				            <li>
				            	<a href="{{ url_for('auth.logout') }}">
				            		Sign Out
				            	</a>
				            </li>
			        	</ul>
		            </li>
	            </ul>
        	</div>
            {% else %}
            <ul class="nav navbar-nav navbar-right">
            	<li><a href="{{ url_for('auth.login') }}">Sign In</a></li>
        	</ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if vars['jumbotron']: %}
<div id="jumbotron" class="jumbotron">
    {% block jumbotron %}{% endblock %}
</div>
{% endif %}

{% if vars['navwell']: %}
<div id="navigation-well" class="well">
	<div class="container">
		<div id="breadcrumbs-container" class="pull-left">
			{% for crumb in breadcrumbs: %}
			<a href="{{ crumb.url }}">{{ crumb.text }}</a>
			{{ '/' if not loop.last }}
			{% endfor %}
		</div>
		<div id="actions-container" class="pull-right">
			{% block page_actions %}{% endblock %}
		</div>
	</div>
</div>
{% endif %}

<div class="container">
    {% for category, message in get_flashed_messages(with_categories=true) %}
    <div class="alert alert-{{ category }}">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    {{ message }}
    </div>
    {% endfor %}

	<h2 id="page_header">{{ vars['page_header'] }}</h2>

    {% if vars['sidebar_left']: %}
    <aside id="sidebar-left">
    	{% block sidebar_left %}{% endblock %}
    </aside>
    {% endif %}


    <div id="page-content">
	    {% block page_content %}{% endblock %}
    </div>


    {% if vars['sidebar_right']: %}
    <aside id="sidebar-right">
    	{% block sidebar_right %}{% endblock %}
    </aside>
    {% endif %}
</div>

{% block footer %}
<footer id="footer">
    <div class="container">
    	<p class="copyright-blurb">Copyright &copy; {{ date.year }} {{ org_name }} All rights reserved.</p>
    </div>
</footer>
{% endblock %}
{% endblock %}